* {
  box-sizing: border-box;
}
body {

}

.app {
  height: 1000px;
  width: 100%;
  display: inline-block;
  position: relative;

}

.nav-bar {
  width: 100px;
  height: 100px;
  display: inline-block;
  color: black;
  z-index: 1;
}
